/* START new styles */
body.new {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #000000;
	background: white;
}

.content {
	font-size: .75rem;
}

.header-nav {
	position: relative;
}

.header .logo {
	width: 100%;
}

h1 {
	font-size: 1.5rem;
	color: #143999;
	font-weight:500;
}

h2 {
	font-size: .75rem;
	color: #ff9200;
	font-style: bold;
	font-weight:500;
}

.legal {
	font-size: .6rem;
	font-weight: bold;
}

.side-content {
	font-size: 0.8rem;
}

.race-results ul {
	list-style: none;
	padding: 0;
}

.navlist-button {
	position: absolute;
	top: 40%;
	cursor: pointer;
}

.navlist-button ul {
	list-style: none;
	padding: 0;
}

.navlist-button li {
	width: 22px;
	height: 4px;
	margin-bottom: 2px;
	background: #143999;
	border-radius: 2px;
}

@media (min-width: 576px) {
	.navlist-button li {
		width: 30px;
		height: 5px;
		margin-bottom: 4px;
	}
}

@media (min-width: 768px) {
	.navlist-button li {
		width: 40px;
		height: 7px;
		margin-bottom: 5px;
	}
}



.navlist {
	width: 100%;
	height: 100%;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
}

.navlist .navlist-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
}

.navlist .navlist-options {
	position: relative;
	left: -70%;
	height: 100%;
}

.navlist ul {
	color: white;
	list-style: none;
	background: #143999;
	width: 70%;
	height: 100%;
	padding: 0;
}

.navlist ul li { 
	border-top: 1px solid #0091f7;
}

.navlist ul li:last-child { 
	border-bottom: 1px solid #0091f7;
}

.mfjLogo {
	width:90px;
	height:90px;
	padding: 20px 00px 0px 40px;
	background-repeat: no-repeat;
	position:absolute;
}

/* END new styles */


h3 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
color: #ffffff;
text-align:left;
font-style: bold;
padding: 0px 0px 0px 0px;
}

hr {
	height: 1px;
    border: 0;
    border-top: 1px solid black;
    padding: 0; 
    margin: 0;
    margin-top: 3px;
}

p {margin:0;padding:0px;}



acronym {
border:none;
}

a {
color:#0783bd;
text-decoration: none
}

a:hover, a:hover {
color:#999999;
background-color:#ffffff;
}

body {
	background-color: #FFFFFF;
	background-image: url(images/bg_sm.gif);

}

/* ////////////// Top area ///////////////// */

#container1 {
width:940px;
height:355px;
margin:0 auto;
padding:0px 0px;
background-position: top;
background-repeat: no-repeat;

}

#container_JS {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
background-image:url(images/headers/james_story.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}


#container_newsletter {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
background-image:url(images/headers/newsletter.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}
#container2 {
width:940px;
height: 100%;
margin:0 auto;
background-color: #FFFFFF;
position:relative;
}
#nav {
width:830px;
height:28px;

padding-top:15px;
margin:0 auto;


}



#topheader1 {
width:800px;
height:36px;
padding: 0px 0px 0px 0px;

}


#headerlink {
width:800px;
height: 36px;
text-align: right;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #ffffff;
padding: 12px 5px 0px 0px;
background-color:#ec6820;
}


/* ////////////// main area ///////////////// */

#maintextcontainer {
width:940px;
height: 100%;
margin-left: 35px;
padding:0px 0px;
position:relative;
text-align:left;
background-color: #FFFFFF;
background-position: bottom;

}

#middlearea {
float: left;
width: 940px;
text-align:left;
background-color: #FFFFFF;

}


#promohome1{
	width:300px;
	height:170px;
	position:absolute;
	top: 92px;
	left: 556px;
}

#promohome2{
width:150px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
position:static;

}

#hpfooter{

font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
color: #000000;
position:static;

}


/* ////////////// subpagesstyle ///////////////// */

#container_JS {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
display:block;
text-indent:-9999px;
background-image:url(images/headers/james_story.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}

#container_photosvideos {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
background-image:url(images/headers/photosvideos.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}

#container_fundraiser {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
display:block;
text-indent:-9999px;
background-image:url(images/headers/fundraiser.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}

#container_5krace {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
display:block;
text-indent:-9999px;
background-image:url(images/headers/5krace.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}

#container_opportunities {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
background-image:url(images/headers/opportunities.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}

#container_thankyou {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
background-image:url(images/headers/thankyou.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}

#container_faq {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
background-image:url(images/headers/faq.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}


#container_aboutjames {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
background-image:url(images/headers/aboutjames.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}

#container_testimonials {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
display:block;
text-indent:-9999px;
background-image:url(images/headers/testimonials.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}

#container_events {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
display:block;
text-indent:-9999px;
background-image:url(images/headers/events.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}

#container_sponsorship {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
display:block;
text-indent:-9999px;
background-image:url(images/headers/sponsorship.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}
#container_donations {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
display:block;
text-indent:-9999px;


background-image:url(images/headers/donations.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}

#container_contactus {
width:940px;
height:239px;
margin:0 auto;
padding:0px 0px;
display:block;
text-indent:-9999px;
background-image:url(images/headers/contact_us.jpg);
background-position: top;
position:relative;
background-repeat: no-repeat;
}





#logo{
width:90px;
height:90px;
padding: 20px 00px 0px 40px;
background-repeat: no-repeat;
position:absolute;
}

#maintextsub{
width:460px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
position:relative;
top: 0;
left: 140px;
padding: 10px 5px 0px 5px;
}

.sponsor-page #maintextsub {
	width:694px;
}

#maintextsub2{
width:750px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
position:relative;
top: 0;
left: 140px;
padding: 10px 5px 0px 5px;
}


#subrightarea{
	width:234px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	position:absolute;
	top: 23px;
	left: 652px;
	padding: 50px 5px 0px 5px;
	height: 1412px;
}


#ty{
	width:220px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	position:absolute;
	top: 110px;
	left: 650px;
	padding: 15px 0x 20px 20px;
	background-color:#0091f7;
}



/* ////////////// copystyle ///////////////// */


#maintext{
width:460px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
text-align:left;
padding: 5px 5px 0px 55px;
position:static;
}

/* ////////////// footerstyle ///////////////// */


#footer {
width:940px;
height: 50px;
background-image:url(images/footer.gif);


}

#footertext {
width:940px;
margin-left:55px;
text-align:left;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
color: #ffffff;
padding: 25px 0 10px 0;
}

#footer a{
text-decoration:none;
padding:1px;
height:100%;
color:#ffffff;
}

#footer a:hover{
background-color:#666666;
color:#000000;
}


/* sponsor styles */
.sponsorText
{
	font-weight:bold;
}

.sponsorImage
{
	margin-bottom:30px;
}
.sponsorImage img
{
	width:95%;
	height:auto;
	border:0;
}

.sponsor-list {
	margin-bottom:35px;
	position: relative;
}

.sponsor-list h2 {
	margin: 0;
}

.sponsor-list ul {
	text-align: center;
	list-style:none;
	padding:5px 0;
	margin-top:10px;
	width:100%;
	position:relative;
	overflow:auto;
}
.sponsor-list li {
	float:left;
	width: 33%;
	margin-bottom:25px;
}

.sponsor-list li:nth-child(3n+1) {
	clear:left;
}

.sponsor-list .small-logo {
	width:100px;
}

.sponsor-list .large-logo {
	width:200px;
}

.sponsor-list .v-large-logo {
	height: 200px;
}

.sponsor-list .v-small-logo {
	height: 100px;
}

.sponsor-list .v-center {
	position: relative;
	top: 50%;
	 -webkit-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sponsor-list .v-center-link { 
	display: block;
}




