body.new {
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    color: #000000;
    background: white;
    
    .content {
        font-size: .75rem;
    }
    
    h1 {
        font-size: 1.5rem;
        color: #143999;
        font-weight:500;
    }
    
    h2 {
        font-size: .75rem;
        color: #ff9200;
        font-style: bold;
        font-weight:500;
    }
    
    .legal {
        font-size: .6rem;
        font-weight: bold;
    }
    
    .side-content {
        font-size: 0.8rem;
    }
}
