body.new {
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    color: #000000;
    background: white;
    
    .content {
        font-size: .75rem;
    }
    
    h1 {
        font-size: 1.5rem;
        color: #143999;
        font-weight:500;
    }
    
    h2 {
        font-size: 0.90rem;
        color: #ff9200;
        font-weight:700;
    }
    
    h3 {
        font-size: .80rem;
        color: #ffffff;
        font-style: bold;
    }
    
    .legal {
        font-size: .6rem;
        font-weight: bold;
    }
    
    .side-content {
        font-size: 0.8rem;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .header-nav {
        position: relative;
    }
    
    .header .logo {
        width: 100%;
    }
    
    .image-list img {
        vertical-align: top;
    }
    
    p {
        margin:0;padding:0px;
    }
    
    acronym {
        border:none;
    }
    
    a {
        color:#0783bd;
        text-decoration: none;

        :hover {
            color:#999999;
            background-color:#ffffff;
        }
    }
}
